<div class="wrapper clearfix">
  <div id="video">
    <iframe width='512' height='385' src="<%= video_url %>"></iframe>
  </div>

  <div id="backing">
    <a class="wepay-widget-button wepay-blue" id="wepay_widget_anchor_5096f38ea6a04" href="https://www.wepay.com/donations/2047342392">View Progress</a><script type="text/javascript">var WePay = WePay || {};WePay.load_widgets = WePay.load_widgets || function() { };WePay.widgets = WePay.widgets || [];WePay.widgets.push( {object_id: 2047342392,widget_type: "donation_campaign_progress",anchor_id: "wepay_widget_anchor_5096f38ea6a04",widget_options: {no_dialog: "true",button_text: "View Progress"}});if (!WePay.script) {WePay.script = document.createElement('script');WePay.script.type = 'text/javascript';WePay.script.async = true;WePay.script.src = 'https://static.wepay.com/min/js/widgets.v2.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(WePay.script, s);} else if (WePay.load_widgets) {WePay.load_widgets();}</script>
    
    <div id="reserve_container">
      <p id="ship_date"><%= Settings.ships %></p>

      <a style="margin:10px 0;width:250px;height:75px;padding-top:20px;font-size:30px;" class="wepay-widget-button wepay-blue" id="wepay_widget_anchor_5096f360bc548" href="https://www.wepay.com/donations/2047342392">Heal Now!</a><script type="text/javascript">var WePay = WePay || {};WePay.load_widgets = WePay.load_widgets || function() { };WePay.widgets = WePay.widgets || [];WePay.widgets.push( {object_id: 2047342392,widget_type: "donation_campaign",anchor_id: "wepay_widget_anchor_5096f360bc548",widget_options: {list_suggested_donations: true,allow_cover_fee: true,allow_anonymous: true,button_text: "Heal Now!"}});if (!WePay.script) {WePay.script = document.createElement('script');WePay.script.type = 'text/javascript';WePay.script.async = true;WePay.script.src = 'https://static.wepay.com/min/js/widgets.v2.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(WePay.script, s);} else if (WePay.load_widgets) {WePay.load_widgets();}</script>

      <p id="price"><%= Settings.price_human %></p>
      <p><%= Settings.dont_give_them_a_reason_to_say_no %></p>
      <%= like_button %>
    </div>
    
  </div>
  
</div>